@media (min-width: 1000px) {
  .box {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .card__inner {
    flex-direction: row;
    margin: 1rem 4rem;
    overflow: hidden;
  }

  .card__imagebox {
    width: 48rem;
  }

  .card__image {
    max-width: 100%;
    min-width: 32rem;
    transform: translate(-8.5rem, -12.2rem);
  }

  .card__shadow {
    width: 99rem;
    transform: translate(-60.3rem, -49.8rem);
  }

  .card__accordion {
    max-width: 41rem;
    padding: 6.5rem 9.5rem 7rem 0;
  }

  .card__accordion h1 {
    text-align: initial;
    margin-bottom: 2rem;
  }

  .card__arrow {
    margin-right: 1.2rem;
  }

  .card__answer {
    padding-right: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .card__answer--active .card__answer {
    max-height: 4.3rem;
  }
}

@media (max-width: 374px) {
  html {
    font-size: 50%;
  }

  .card__imagebox {
    height: 10rem;
  }
}
